<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
    <% comments.forEach(function(comment) { %>
      <li><%= comment %></li>
    <% }); %>
    </ul>
  </body>
</html>